body {
  background: #0a192f;
  color: #fff;
}

#taskForm input {
  margin-bottom: 0px !important;
}

input:focus,
textarea:focus {
  border-color: 1px solid blue !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
